$appHeaderHeight: 42px;
$appFooterHeight: 20px;

$mainBackgroundColor: #e5e5e5;
$darkBackgroundColor: #444444;

$lightFontColor: #e5e5e5;
$darkFontColor: #333333;

$lightBorder: .5px solid #666666;

$selectionToolHeaderHeight: 32px;

$uiHighlightColor: #4240d4;
